@font-face {
  font-family: 'Figtree';
  src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
    /* Colors */
    --color-bg-body: #F4D04E;
    --color-bg-main: #FFFFFF;
    --color-text: #6B6B6B;
    --color-title: #111111;
    
    /* Typography */
    --font-base: 'Figtree';
    --font-weight-base: 500;

    /* Spacing */
    --spacing-50: 4px;
    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-300: 24px;
}
